@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600&display=swap");
/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** SP developers resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
/* placeholder mixin */
/* how to use this variabile*/
/* .forms{
   @include placeholder{
    opacity: 1;color: #a5aeb7;
  } */
/* @include transition (.2s ease-out all); */
/*    @include flexbox();
    @include justify-content (center);*/
.chat {
  padding: 70px 0px;
}
.chat .chat-nav-area {
  display: flex;
  gap: 15px;
  border: none !important;
}
.chat .chat-nav-area .nav-item {
  border: none;
}
.chat .chat-nav-area .nav-item .nav-link {
  background: #E0EAFF;
  border-radius: 18px 18px 0px 0px;
  color: #193674;
  font-size: 18px;
  line-height: 1.3;
  text-decoration: none;
  padding: 15px 25px;
  border: none !important;
  font-family: "Baloo 2", sans-serif;
  display: flex;
  align-items: center;
  min-height: 51px;
}
.chat .chat-nav-area .nav-item .nav-link .badge {
  letter-spacing: 0px;
  color: #E0EAFF;
  font-size: 10px;
  border-radius: 50%;
  background-color: #1D63FF;
  font-family: "Baloo 2", sans-serif;
  display: inline-flex;
  margin-left: 10px;
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
}
.chat .chat-nav-area .nav-item .nav-link.active {
  background-color: #1D63FF;
  color: #FFFFFF;
}
.chat .chat-nav-area .nav-item .nav-link.active .badge {
  background-color: #E0EAFF;
  color: #1D63FF;
}
.chat .chat-nav-area .nav-item .nav-link:hover {
  background-color: #1D63FF;
  color: #FFFFFF;
}
.chat .tab-content {
  border: none;
  background-color: #F7F9FF;
  padding: 25px;
  border-radius: 0px 0px 20px 20px;
}
.chat .tab-content .tab-pane {
  border: none !important;
}
.chat .tab-content .tab-pane .chat-area-view {
  display: flex;
}
.chat .tab-content .tab-pane .chat-area-view .chat-side-bar {
  background-color: #FFFFFF;
  border-radius: 14px;
  width: 325px;
  min-width: 325px;
}
.chat .tab-content .tab-pane .chat-area-view .chat-side-bar .chat-top-bar {
  padding: 20px 15px 15px;
}
.chat .tab-content .tab-pane .chat-area-view .chat-side-bar .chat-top-bar .search {
  display: flex;
  position: relative;
}
.chat .tab-content .tab-pane .chat-area-view .chat-side-bar .chat-top-bar .search .form-control {
  background: #E0EAFF;
  border-radius: 25px;
  color: #193674;
  font-size: 16px;
  font-family: "Baloo 2", sans-serif;
  border: none;
  padding: 12px 20px;
}
.chat .tab-content .tab-pane .chat-area-view .chat-side-bar .chat-top-bar .search .btn-search {
  position: absolute;
  right: 20px;
  top: 15px;
  width: auto;
  padding: 0px;
  box-shadow: none;
  width: auto !important;
  max-width: unset !important;
}
.chat .tab-content .tab-pane .chat-area-view .chat-side-bar .chat-top-bar .search .btn-search .search {
  width: 15px;
}
.chat .tab-content .tab-pane .chat-area-view .chat-side-bar .chat-viewers-list {
  display: flex;
  flex-direction: column;
}
.chat .tab-content .tab-pane .chat-area-view .chat-side-bar .chat-viewers-list .chat-viewer {
  display: flex;
  padding: 15px;
  cursor: pointer;
  transition: 0.2s;
  border-bottom: 1px solid #F7F9FF;
}
.chat .tab-content .tab-pane .chat-area-view .chat-side-bar .chat-viewers-list .chat-viewer:last-child {
  border-bottom: none;
}
.chat .tab-content .tab-pane .chat-area-view .chat-side-bar .chat-viewers-list .chat-viewer:hover {
  background-color: #F7F9FF;
}
.chat .tab-content .tab-pane .chat-area-view .chat-side-bar .chat-viewers-list .chat-viewer .chat-avathar {
  position: relative;
  width: 39px;
  height: 39px;
  background-color: #E0EAFF;
  border-radius: 50%;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat .tab-content .tab-pane .chat-area-view .chat-side-bar .chat-viewers-list .chat-viewer .chat-avathar .avather-info {
  letter-spacing: 0px;
  color: #1D63FF;
  font-weight: 500;
  font-family: "Baloo 2", sans-serif;
  font-size: 18px;
  line-height: 1.4;
}
.chat .tab-content .tab-pane .chat-area-view .chat-side-bar .chat-viewers-list .chat-viewer .chat-avathar .status {
  width: 8px;
  height: 8px;
  background: #16BB10;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  right: 0px;
}
.chat .tab-content .tab-pane .chat-area-view .chat-side-bar .chat-viewers-list .chat-viewer .chat-user-info {
  display: flex;
  flex-direction: column;
}
.chat .tab-content .tab-pane .chat-area-view .chat-side-bar .chat-viewers-list .chat-viewer .chat-user-info .chat-viewer-name {
  color: #193674;
  font-weight: 500;
  font-family: "Baloo 2", sans-serif;
  font-size: 18px;
  line-height: 1.4;
}
.chat .tab-content .tab-pane .chat-area-view .chat-side-bar .chat-viewers-list .chat-viewer .chat-user-info .chat-viewer-info {
  color: #97A1B5;
  font-weight: 400;
  font-family: "Baloo 2", sans-serif;
  font-size: 12px;
  line-height: 1.4;
}
.chat .tab-content .tab-pane .chat-area-view .chat-history-view {
  padding: 20px;
  flex-grow: 1;
  flex-direction: column;
  position: relative;
}
.chat .tab-content .tab-pane .chat-area-view .chat-history-view .user-info-panel {
  display: flex;
  background: #FFFFFF;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.0392156863);
  border: 1px solid #EEF2FB;
  border-radius: 14px;
  padding: 15px 20px;
  align-items: center;
  position: absolute;
  width: 100%;
  z-index: 9;
}
.chat .tab-content .tab-pane .chat-area-view .chat-history-view .user-info-panel .avather {
  width: 40px;
  height: 40px;
  background: rgba(29, 99, 255, 0.1019607843);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}
.chat .tab-content .tab-pane .chat-area-view .chat-history-view .user-info-panel .avather img {
  width: 25px;
}
.chat .tab-content .tab-pane .chat-area-view .chat-history-view .user-info-panel .user-data-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.chat .tab-content .tab-pane .chat-area-view .chat-history-view .user-info-panel .user-data-info .heading {
  color: #193674;
  font-size: 18px;
  font-weight: 500;
  font-family: "Baloo 2", sans-serif;
  margin-bottom: 0px;
  line-height: 1;
}
.chat .tab-content .tab-pane .chat-area-view .chat-history-view .user-info-panel .user-data-info .text {
  margin-bottom: 0px;
  font-size: 12px;
  font-family: "Baloo 2", sans-serif;
  color: #97A1B5;
}
.chat .tab-content .tab-pane .chat-area-view .chat-history-view .user-info-panel .user-btn-area .btn-edit {
  border: none;
  box-shadow: none;
  outline: none;
}
.chat .tab-content .tab-pane .chat-area-view .chat-history-view .chat-listing {
  display: flex;
  flex-grow: 1;
  margin-bottom: 30px;
  align-items: end;
  gap: 15px;
}
.chat .tab-content .tab-pane .chat-area-view .chat-history-view .chat-listing .avathar {
  position: relative;
  width: 39px;
  height: 39px;
  background-color: #E0EAFF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.chat .tab-content .tab-pane .chat-area-view .chat-history-view .chat-listing .avathar .avathar-name {
  letter-spacing: 0px;
  color: #1D63FF;
  font-weight: 500;
  font-family: "Baloo 2", sans-serif;
  font-size: 18px;
  line-height: 1.4;
}
.chat .tab-content .tab-pane .chat-area-view .chat-history-view .chat-listing .chat-info-message {
  display: flex;
  flex-direction: column;
  max-width: 60%;
}
.chat .tab-content .tab-pane .chat-area-view .chat-history-view .chat-listing .chat-info-message .chat-message {
  background: #FFFFFF;
  border-radius: 25px 25px 0px 25px;
  padding: 15px 30px;
  color: #787993;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Baloo 2", sans-serif;
}
.chat .tab-content .tab-pane .chat-area-view .chat-history-view .chat-listing .chat-info-message .chat-message p {
  margin-bottom: 0px;
  color: #787993;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Baloo 2", sans-serif;
}
.chat .tab-content .tab-pane .chat-area-view .chat-history-view .chat-listing .chat-info-message .chat-message .file-area {
  display: flex;
  background-color: #E5EFFF;
  padding: 10px 15px;
  margin-top: 15px;
  border-radius: 5px;
  align-items: center;
  min-width: 300px;
}
.chat .tab-content .tab-pane .chat-area-view .chat-history-view .chat-listing .chat-info-message .chat-message .file-area .file-icons {
  background-color: #1D63FF;
  border-radius: 10px;
  padding: 5px;
  margin-right: 15px;
  display: block;
}
.chat .tab-content .tab-pane .chat-area-view .chat-history-view .chat-listing .chat-info-message .chat-message .file-area .file-icons img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
.chat .tab-content .tab-pane .chat-area-view .chat-history-view .chat-listing .chat-info-message .chat-message .file-area .file-name {
  color: #787993;
  font-size: 14px;
  line-height: 1.5;
  font-family: "Baloo 2", sans-serif;
  margin-right: 15px;
  flex-grow: 1;
}
.chat .tab-content .tab-pane .chat-area-view .chat-history-view .chat-listing .chat-info-message .chat-message .file-area .file-name p {
  margin-bottom: 0px;
  color: #787993;
  font-size: 14px;
  line-height: 1.5;
  font-family: "Baloo 2", sans-serif;
}
.chat .tab-content .tab-pane .chat-area-view .chat-history-view .chat-listing .chat-info-message .chat-message .file-area .file-download {
  padding: 0px;
  margin: 0px;
  outline: none;
  box-shadow: none;
  width: auto !important;
  max-width: unset !important;
}
.chat .tab-content .tab-pane .chat-area-view .chat-history-view .chat-listing .chat-info-message .chat-message .file-area .file-download img {
  width: 20px;
}
.chat .tab-content .tab-pane .chat-area-view .chat-history-view .chat-listing .chat-info-message .chat-info {
  color: #787993;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Baloo 2", sans-serif;
}
.chat .tab-content .tab-pane .chat-area-view .chat-history-view .chat-listing.sent {
  flex-direction: row-reverse;
}
.chat .tab-content .tab-pane .chat-area-view .chat-history-view .chat-listing.sent .chat-info-message .chat-info {
  text-align: right;
  margin-top: 5px;
}
.chat .tab-content .tab-pane .chat-area-view .chat-history-view .chat-listing.sent.loader {
  opacity: 0.6;
}
.chat .tab-content .tab-pane .chat-area-view .chat-history-view .chat-listing.sent.loader .avathar {
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-bottom: 0px !important;
}
.chat .tab-content .tab-pane .chat-area-view .chat-history-view .chat-listing.sent.loader .avathar::before {
  content: "";
  background: transparent linear-gradient(180deg, #EEF2FB 0%, #BACAEC 50%);
  background-repeat: no-repeat;
  background-size: 800px 104px;
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  right: 0px;
  z-index: 9;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderShimmer;
  -webkit-animation-timing-function: linear;
  opacity: 0.2;
}
.chat .tab-content .tab-pane .chat-area-view .chat-history-view .chat-listing.sent.loader .avathar::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: transparent linear-gradient(180deg, #EEF2FB 0%, #BACAEC 100%);
}
.chat .tab-content .tab-pane .chat-area-view .chat-history-view .chat-listing.sent.loader .chat-info-message {
  position: relative;
  overflow: hidden;
  z-index: 0;
  border-radius: 25px 25px 0px 25px;
}
.chat .tab-content .tab-pane .chat-area-view .chat-history-view .chat-listing.sent.loader .chat-info-message::before {
  content: "";
  background: transparent linear-gradient(180deg, #EEF2FB 0%, #BACAEC 50%);
  background-repeat: no-repeat;
  background-size: 800px 104px;
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  right: 0px;
  z-index: 9;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderShimmer;
  -webkit-animation-timing-function: linear;
  opacity: 0.2;
}
.chat .tab-content .tab-pane .chat-area-view .chat-history-view .chat-listing.sent.loader .chat-info-message::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: transparent linear-gradient(180deg, #EEF2FB 0%, #BACAEC 100%);
}
.chat .tab-content .tab-pane .chat-area-view .chat-history-view .chat-listing.resve .chat-info-message .chat-message {
  border-radius: 25px 25px 25px 0px;
  background-color: rgba(70, 148, 249, 0.1019607843);
}
.chat .tab-content .tab-pane .chat-area-view .chat-history-view .chat-listing.resve .chat-info-message .chat-info {
  text-align: left;
  margin-top: 5px;
}
.chat .tab-content .tab-pane .chat-area-view .chat-history-view .chat-listing.resve.loader {
  opacity: 0.6;
}
.chat .tab-content .tab-pane .chat-area-view .chat-history-view .chat-listing.resve.loader .avathar {
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-bottom: 0px !important;
}
.chat .tab-content .tab-pane .chat-area-view .chat-history-view .chat-listing.resve.loader .avathar::before {
  content: "";
  background: transparent linear-gradient(180deg, #EEF2FB 0%, #BACAEC 50%);
  background-repeat: no-repeat;
  background-size: 800px 104px;
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  right: 0px;
  z-index: 9;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderShimmer;
  -webkit-animation-timing-function: linear;
  opacity: 0.2;
}
.chat .tab-content .tab-pane .chat-area-view .chat-history-view .chat-listing.resve.loader .avathar::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: transparent linear-gradient(180deg, #EEF2FB 0%, #BACAEC 100%);
}
.chat .tab-content .tab-pane .chat-area-view .chat-history-view .chat-listing.resve.loader .chat-info-message {
  position: relative;
  overflow: hidden;
  z-index: 0;
  border-radius: 25px 25px 25px 0px;
}
.chat .tab-content .tab-pane .chat-area-view .chat-history-view .chat-listing.resve.loader .chat-info-message::before {
  content: "";
  background: transparent linear-gradient(180deg, #EEF2FB 0%, #BACAEC 50%);
  background-repeat: no-repeat;
  background-size: 800px 104px;
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  right: 0px;
  z-index: 9;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderShimmer;
  -webkit-animation-timing-function: linear;
  opacity: 0.2;
}
.chat .tab-content .tab-pane .chat-area-view .chat-history-view .chat-listing.resve.loader .chat-info-message::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: transparent linear-gradient(180deg, #EEF2FB 0%, #BACAEC 100%);
}

.loading-view {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.loading-view .loading-area {
  background: #1D63FF;
  border-radius: 23px;
  padding: 8px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.loading-view .loading-area .icon {
  background: #FFFFFF;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.loading-view .loading-area .icon::before {
  content: "";
  border: 1px solid #f3f3f3; /* Light grey */
  border-top: 1px solid #1D63FF; /* Blue */
  border-radius: 50%;
  animation: spin 2s linear infinite;
  left: -2px;
  top: -2px;
  position: absolute;
  width: 22px;
  height: 22px;
}
.loading-view .loading-area .icon img {
  width: 12px;
}
.loading-view .loading-area .text {
  color: #FFFFFF;
  font-size: 11px;
  line-height: 1.5;
  font-family: "Baloo 2", sans-serif;
  margin-right: 10px;
}

@-webkit-keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 1679px) {
  .chat {
    padding: 60px 0px;
  }
  .chat .chat-nav-area .nav-item .nav-link {
    padding: 13px 23px;
    font-size: 17px;
  }
}
@media (max-width: 1441px) {
  .chat {
    padding: 50px 0px;
  }
  .chat .chat-nav-area .nav-item .nav-link {
    font-size: 16px;
  }
}
@media (max-width: 1281px) {
  .chat {
    padding: 40px 0px;
  }
  .chat .chat-nav-area .nav-item .nav-link {
    font-size: 15px;
  }
  .chat .tab-content .tab-pane .chat-area-view .chat-history-view .chat-listing .chat-info-message {
    max-width: 90%;
  }
}
@media (max-width: 991px) {
  .chat {
    padding: 30px 0px;
  }
  .chat .chat-nav-area .nav-item .nav-link {
    font-size: 14px;
  }
  .chat .tab-content {
    padding: 20px 15px;
  }
  .chat .tab-content .tab-pane .chat-area-view {
    flex-wrap: wrap;
  }
  .chat .tab-content .tab-pane .chat-area-view .chat-side-bar {
    width: 100%;
    min-width: auto;
    max-height: 400px;
    overflow: auto;
  }
  .chat .tab-content .tab-pane .chat-area-view .chat-history-view {
    padding: 20px 0px;
    max-width: 100%;
    overflow-x: auto;
  }
  .chat .tab-content .tab-pane .chat-area-view .chat-history-view .chat-listing .chat-info-message {
    width: calc(100% - 80px);
    max-width: unset;
  }
  .chat .tab-content .tab-pane .chat-area-view .chat-history-view .chat-listing .chat-info-message .chat-message {
    padding: 15px !important;
  }
  .chat .tab-content .tab-pane .chat-area-view .chat-history-view .chat-listing .chat-info-message .chat-message p {
    font-size: 14px;
  }
  .chat .tab-content .tab-pane .chat-area-view .chat-history-view .chat-listing .chat-info-message .chat-message .file-area {
    min-width: auto;
  }
}
.profile-upload {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.profile-upload .profile-round {
  position: relative;
}
.profile-upload .profile-round .profile-img {
  width: 88px;
  height: 88px;
  background: #EFF4FF;
  border: 4px solid #BED1F8;
  border-radius: 50%;
}
.profile-upload .profile-round .profile-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.profile-upload .profile-round .upload-btn {
  width: 20px;
  height: 20px;
  background: #1D63FF;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 4px;
  right: 2px;
  cursor: pointer;
  z-index: 9;
}
.profile-upload .profile-round .upload-btn img {
  width: 10px;
}
.profile-upload .profile-round .upload-btn .file-upload {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}

@media (max-width: 767px) {
  .chat {
    padding: 20px 0px;
  }
}
@media (max-width: 479px) {
  .chat {
    padding: 15px 0px;
  }
  .chat .chat-nav-area .nav-item {
    width: 100%;
  }
  .chat .chat-nav-area .nav-item .nav-link {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
  }
  .chat .chat-area-view .chat-history-view .chat-listing .chat-info-message .chat-message .file-area {
    flex-wrap: wrap;
  }
}

/*# sourceMappingURL=chat-main.css.map */
